<div class="col-4 d-flex justify-content-end align-items-center">
    <a href="{{ path('app_logout') }}">
        <img src="{{ asset('assets/svg/logout.svg') }}" width="50" alt="Déconnexion">
    </a>
</div>