<nav class="navbar-mobile  mt-4">
    <a href="{{path ('app_staff_vacation')}}" class="nav-link">
        <img src="{{asset ('/assets/svg/horloge.svg')}}" alt="Home">
    </a>
    <a href="#" class="nav-link">
        <img src="{{asset ('/assets/svg/calendrier.svg')}}" alt="Home">
    </a>
    <a href="#" class="nav-link">
        <img src="{{asset ('/assets/svg/doc.svg')}}" alt="Home">
    </a>
</nav>