{% extends 'base.html.twig' %}

{% block title %}CorpPilot{% endblock %}

{% block body %}
<div class="btn-div">
<img src="{{asset('assets/Img/logo.png')}}" alt="Logo">
<a class="btn btn-primary" href="{{path('app_security')}}">
    Se connecter
</a>
</div>
<div class="container mt-4 homepage-div">
    <div class="row">
        <div class="col-md-6">
            <img src="{{asset('assets/Img/krakenimages-Y5bvRlcCx8k-unsplash.jpg')}}" alt="Image RH" class="img-fluid left-image border-white">
        </div>
        <div class="col-md-6">
            <div class="jumbotron">
                <h1 class="display-4 ff-4">CorpPilot</h1>
                <p class="lead">CorpPilot est une application web qui permet de gérer les ressources humaines de votre entreprise.</p>
                <hr class="my-4">
                <p class="ff-2">Vous êtes chef d'entreprise ? <br>Vous avez besoin d'une application pour gérer vos ressources humaines ?</p>
                <p class="ff-2 text-center">CorpPilot est fait pour vous !</p>
                <p class="lead text-center">
                    <a class="btn btn-secondary btn-lg" href="#inscription" role="button">S'inscrire</a>
                </p>
            </div>
        </div>
    </div>
</div>
{% endblock %}
