<nav class="navbar bg-body-tertiary position-fixed bottom-0 w-100">
  <div class="container d-flex justify-content-around">
      <a href="#"><img src="{{asset('assets/svg/horloge.svg')}}" alt="horloge"></a>
      <a href="#"><img src="{{asset('assets/svg/calendrier.svg')}}" alt="calendrier"></a>
      <a href="#"><img src="{{asset('assets/svg/doc.svg')}}" alt="doc"></a>
  </div>
</nav>