@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&family=Petrona&family=Salsa&family=Telex&display=swap");

:root {
  --clr-primary: #1e3d59;
  --clr-secondary: #f5f0e1;
  --clr-tertiary: #ffc13b;
  --clr-quaternary: #ff6e40;

  --ff-primary: "Danicing Script", cursive;
  --ff-secondary: "Petrona", serif;
  --ff-tertiary: "Telex", sans-serif;
  --ff-quaternary: "Salsa", cursive;
}

.ff-1 {
  font-family: var(--ff-primary);
}

.ff-2 {
  font-family: var(--ff-secondary);
}

.ff-3 {
  font-family: var(--ff-tertiary);
}

.ff-4 {
  font-family: var(--ff-quaternary);
}

.fc-1 {
  color: var(--clr-primary);
}

.fc-2 {
  color: var(--clr-secondary);
}

.fc-3 {
  color: var(--clr-tertiary);
}

.fc-4 {
  color: var(--clr-quaternary);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--ff-secondary);
  font-size: 1rem;
  line-height: 1.5;
  color: var(--clr-primary);
  background-color: var(--clr-secondary);
  padding-bottom: 60px;
}

.btn-div {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 1rem 0;
}

.btn-div img {
  width: 5rem;
  height: 5rem;
  box-shadow: black 0.2rem 0.2rem 0.2rem 0.2rem 0.2rem;
}

.btn-primary {
  background-color: var(--clr-primary);
  color: var(--clr-secondary);
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  font-family: var(--ff-secondary);
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  box-shadow: black 0.2rem 0.2rem 0.2rem 0.2rem 0.2rem;
}

.btn-primary:hover {
  background-color: var(--clr-tertiary);
  color: var(--clr-primary);
  box-shadow: none;
}

.btn-secondary {
  background-color: var(--clr-tertiary);
  color: var(--clr-secondary);
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  font-family: var(--ff-secondary);
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  box-shadow: black 0.2rem 0.2rem 0.2rem 0.2rem 0.2rem;
}

.btn-secondary:hover {
  background-color: var(--clr-quaternary);
  color: var(--clr-primary);
}

.homepage-div {
  background-color: var(--clr-primary);
  color: var(--clr-secondary);
  padding: 1rem;
  border-radius: 0.5rem;
}

.separator {
  border-bottom: 3px solid var(--clr-primary);
  width: 97vw;
  margin: 0 auto;
}

footer {
  color: var(--clr-primary);
  padding: 1rem;
  border-radius: 0.5rem;
  width: 100%;
}

footer h5 {
  color: var(--clr-secondary);
  text-decoration: none;
}

.login-form {
  background: var(--clr-primary);
  color: var(--clr-secondary);
  padding: 1rem;
  border-radius: 0.5rem;
  box-shadow: var(--clr-primary) 2px 2px 10px;
  text-align: center;
}

.login-form label {
  font-family: var(--ff-tertiary);
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.login-form input {
  background: var(--clr-secondary);
  font-family: var(--ff-tertiary);
  font-size: 1.5rem;
  margin-bottom: 1rem;
  padding: 0.5rem;
  border-radius: 0.5rem;
  border: none;
  box-shadow: var(--clr-primary) 2px 2px 10px;
}

/* Styles pour le placeholder de l'identifiant */
#username::placeholder {
  color: #ff6e40;
}

/* Styles pour le placeholder du mot de passe */
#password::placeholder {
  color: #ff6e40;
}

.login-form button {
  cursor: pointer;
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.login-form img:hover {
  transform: scale(1.1);
}

.formVac,
.formVacModif {
  background: var(--clr-primary);
  color: var(--clr-secondary);
  padding: 1rem;
  border-radius: 0.5rem 0.5rem 0 0;
  box-shadow: var(--clr-primary) 2px 2px 10px;
  text-align: center;
}

.formVacModif {
  border-radius: 0.5rem;
}

.vacStatus {
  background: var(--clr-primary);
  color: var(--clr-secondary);
  padding: 1rem;
  box-shadow: var(--clr-primary) 2px 2px 10px;
  text-align: center;
}

.vacDispo {
  background: var(--clr-primary);
  color: var(--clr-secondary);
  padding: 1rem;
  border-radius: 0 0 0.5rem 0.5rem;
  box-shadow: var(--clr-primary) 2px 2px 10px;
  text-align: center;
}

.submit-btn {
  border: none;
  background: none;
}

.submit-btn-toggle {
  cursor: pointer;
}

.period {
  width: 40%;
}

.verif {
  width: 20%;
}

.modify {
  width: 10%;
}

.delete {
  width: 10%;
}

.navbar-mobile {
  position: fixed;
  bottom: 0;
  width: 100vw;
  background-color: var(--clr-tertiary);
  display: flex;
  justify-content: space-around;
  padding: 8px 0;
}

.navbar-mobile a {
  text-decoration: none;
  color: #495057;
}

.navbar-mobile img {
  max-width: 50px; /* Ajustez la taille selon vos besoins */
  max-height: 50px;
}
