<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}CorpPilot{% endblock %}</title>
        <link rel="icon" href="{{asset('assets/svg/blason.svg')}}">
        {% block stylesheets %}
            <link rel="stylesheet" href="{{asset('assets/bootstrap/bootstrap.min.css')}}"/>
            <link rel="stylesheet" href="{{asset('assets/css/styles.css')}}"/>
        {% endblock %}

        {% block javascripts %}
            <script src="{{asset('assets/bootstrap/bootstrap.min.js')}}"></script>
        {% endblock %}
    </head>
    <body>
        {% block body %}
        
        {% endblock %}
    </body>
</html>
